body {
    background-color: lightsteelblue;
    font-family: Arial, Helvetica, sans-serif;
}

h1,h2{
    color: aqua;
    font-style: italic;
}

ul li a {
    color: gray;
    font-weight: bold;
}

ol li a {
    color: antiquewhite;
    font-weight: bold;
}

.link {
    color: brown;
    font-weight: bold;
    font-style: italic;
}

#p1 {
    color: rebeccapurple;
    font-weight: bold;
}

.p2 {
    color: cadetblue;
    font-weight: bold;
}