body {
    font-family: sans-serif;
    background: #E5E7EB;
}

h1 {
    text-align: center;
    font-weight: 300;
}

.tulisan_login {
    text-align: center;
    text-transform: uppercase;
    color: white;
}

.kotak_login {
    width: 350px;
    background: #2C2C2C;
    margin: 180px auto;
    padding: 30px 50px;
    border-radius: 10px;
}

label {
    font-size: 15pt;
    color: white;
}

.form_login {
    box-sizing: border-box;
    width: 100%;
    padding: 20px;
    font-size: 11pt;
    margin-bottom: 20px;
    border-radius: 10px;
}

.tombol_login {
    background: black;
    color: rgb(255, 0, 0);
    font-size: 11pt;
    width: 100%;
    border: none;
    border-radius: 10px;
    padding: 10px 20px;
}
